:root {
  font-family: system-ui;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#app {
  // max-width: 1320px;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("/polygon-scatter-mint.svg");
  background-repeat: repeat;
}
